* {
  box-sizing: border-box;
}

ul li {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  margin: 0 auto;
}

button {
  border: none;
  cursor: pointer;
}

.calculator {
  display: flex;
  flex-direction: row;
}

.operators {
  display: flex;
  width: 25%;
  flex-direction: column;
}

.digits {
  display: flex;
  flex-wrap: wrap;
  width: 75%;
  justify-content: space-between;
}

.btns {
  flex: 1 1 33.3%;
  padding: 2em;
  background: #e0e0e0;
  border: solid 1px #d1d1d1;
}

.screen {
  width: 100%;
  background: #858693;
  color: #fff;
  padding: 2em;
  font-weight: bold;
  text-align: end;
}

.screen span {
  font-size: 2rem;
}

.operatorBtns {
  padding: 2em;
  border: solid 1px #d1d1d1;
  width: 100%;
  background: #f39148;
}

.quote {
  border: solid 1px #d1d1d1;
  padding: 1em 1.3em;
  border-radius: 20px;
  width: 90%;
  margin: 2em auto;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: wheat;
  padding: 1em 0.4em;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
}

.home {
  text-align: start;
  width: 80%;
}

.math_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 2em auto;
}

.maths {
  width: 100%;
  margin: 2em auto;
}

@media screen and (min-width: 500px) {
  nav {
    padding: 1em 4em;
  }

  .navbar {
    width: 20%;
  }

  .home {
    width: 90%;
    margin: 0 auto;
  }

  .maths {
    width: 40%;
  }

  .quote {
    width: 80%;
  }

  .math_wrapper h2 {
    width: 50%;
    text-align: start;
  }
}
