* {
  box-sizing: border-box;
}

.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  margin: 5em auto;
  padding: 1em;
}

button {
  border: none;
  cursor: pointer;
}

.calculator {
  display: flex;
  flex-direction: row;
}

.operators {
  display: flex;
  width: 25%;
  flex-direction: column;
}

.digits {
  display: flex;
  flex-wrap: wrap;
  width: 75%;
  justify-content: space-between;
}

.btns {
  flex: 1 1 33.3%;
  padding: 2em;
  background: #e0e0e0;
  border: solid 1px #d1d1d1;
}

.screen {
  width: 100%;
  background: #858693;
  color: #fff;
  padding: 2em;
  font-weight: bold;
  text-align: end;
}

.screen span {
  font-size: 2rem;
}

.operatorBtns {
  padding: 2em;
  border: solid 1px #d1d1d1;
  width: 100%;
  background: #f39148;
}

.quote {
  border: solid 1px #d1d1d1;
  padding: 1em 1.3em;
  border-radius: 20px;
  margin-top: 1em;
}

@media screen and (min-width: 500px) {
  .App {
    width: 40%;
  }
}
